<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new election</title>
</head>
<body>
   <h1 class="text-xl font-bold">Create New Election</h1>
   <form action="/new-election" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />                
    <label>Election name: </label>
    <input type="text" name="name" />
    <button type="submit">Submit</button>
   </form> 
</body>
</html>